*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow-x: hidden; 
}


.modal{
	transform: scale(0);
	transition: .8s;
	z-index: 20;
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);	
}

.modal__open{
	transform: scale(1);
}

.close__modal img{
	cursor: pointer;
	top: 20px;
	right: 30px;
	position: absolute;
	width: 30px;
	height: 30px;
}

.modal-body{
	padding-left: 47px;
	position: relative;
	top: 100px;
	left: 450px;

	background-color: #fff;
	width: 494px;
	height: 444px;	
	border-radius: 29px;
}

.modal__title{
	padding-bottom: 38px;
	padding-top: 24px;
	font-family: 'Montserrat';
	font-size: 24px;
}

.modal__info{
	width: 335px;
}

.modal__info input{
	padding-left: 10px;
	border-radius: 30px;
	outline: none;
	font-size: 18px;
	width: 330px;
	height: 45px;
	font-family: 'Montserrat';
	border:2px solid #ccc;
	margin-bottom: 21px;
}

.modal__info button{
	border-radius: 30px;
	width: 218px;
	height: 60px;
	border:none;
	background-color: #FF8282;
	font-family: 'Montserrat';
	outline: none;
	color:white;
	font-size: 18px;
}

.modal__ps{
	font-size: 14px;
	position: relative;
	left: -35px;
	padding-top: 39px;
	text-align: center;
	font-family: 'Montserrat';
}

header.header{
	border-bottom: 1px solid #000;
	z-index: 10;
	position: fixed;
	padding: 20px;
	display: flex;
	height: 60px;
	width: 100%;
	background-color: #fff;
}

main.content{
	padding-top: 60px;
}


.header-flex{
	display: flex;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

.menu{
	padding-top: 10px;
	margin-left: 300px;
	justify-content: flex-end;
}

.logo{
	width: 314px;
	font-family: 'Montserrat';
	font-size: 36px;
	font-weight: bold;
}



.menu ul{
	width: 304px;
	display: flex;
	list-style: none;
}

.menu ul li{
	margin-left: 11px;
}

.menu ul li a{
	font-size: 18px;
	text-decoration: none;
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.menu ul li a:hover{
	color: red;
	border-bottom: 1px solid red;
}

.first-sreen{
	display: flex;
	width: 100%;
	
	background: linear-gradient(100.98deg, rgba(255, 0, 0, 0.61) 28.66%, rgba(255, 138, 0, 0.65) 59.47%);
}

.first-sreen{
	overflow: hidden;
	height:322px;
	display: flex;
}

.first-sreen__content{
	padding: 52px;
	display: flex;
}

.first-sreen__info{
	width: 377px;
}

.first-sreen__info h2{
	width: 385px;
	font-family: 'Montserrat';
	font-size: 36px;
	border-bottom:1px solid white;
	color:white;
}

.first-sreen__info button {
	transition: 0.6s;
	margin-top: 19px;
	background: rgba(241, 0, 0, 0.54);
	border:none;
	outline:none;
	border-radius: 30px;
	width: 218px;
	height: 49px;
	font-size: 18px;
	color:white;
	font-family: 'Montserrat';
}

.first-sreen__info button:hover{
	background: red;
	transform: scale(1.5);
	cursor: pointer;
}

.first-sreen__info p{
	padding-top: 19px;
	font-size: 24px;
	font-family: 'Montserrat';
}

.first-sreen__img{
	position: relative;
	top: -60px;
	padding-left: 200px;
}

.first-sreen__img img{
	transition:1s;
	width: 400px;
	height: 500px;
}

.first-sreen__img img:hover{
	transform: scale(1.2);
}

.about-is__content{
	display: flex;
}

.about-us{
	padding-top: 102px;
}

.about-us__info h2{
	width: 108px;
	font-family: 'Montserrat';
	font-size: 36px;
	border-bottom:1px solid #ff0000;
	color:#ff0000;
}

.about-us__info p{
	width: 324px;
	padding-top: 24px;
	font-size: 18px;
	font-family: 'Montserrat';
}

.about-us__img{
	padding-left: 200px;
}

.about-us__img-box{
	display: flex;
}



.about-us__img-box img:nth-child(1){
	width: 300px;
	height: 300px;
}
.about-us__img-box img:nth-child(2){
	padding-left: 18px;
	width: 253px;
	height: 291px;
}

.about-us__img-box_2{
	display: flex;
	float: right;
}


.about-us__img-box_2 img:nth-child(1){
	padding-top: 12px;
	width: 180px;
	height: 265px;
}
.about-us__img-box_2 img:nth-child(2){
	padding-top: 10px;
	padding-left: 14px;
	width: 300px;
	height: 300px;
}

.product{
	padding-top: 102px;

}

.product h2{
	margin: 0 auto;
	width: 143px;
	font-family: 'Montserrat';
	font-size: 36px;
	border-bottom:1px solid #ff0000;
	color:#ff0000;
}

.card{
	margin-bottom: 27px;
	margin-left: 56px;
	border-radius: 32px;
	border:2px solid #000;
	width: 243px;
	height: 467px;
}

.card img{
	position: relative;
	left: 20px;
	width: 200px;
	height: 270px;
}

.box-card{
	margin-top: 64px;
	margin: 64px auto;
}

.box__wrapper{
	display: flex;
}

.card__body{
	padding-left: 19px;
}

.border_bottom{
	background-color:#000;
	height: 2px;
}

.card__title{
	font-size: 24px;
	font-family: 'Montserrat';
}

.card__price strong{
	font-size: 36px;
	font-family: 'Montserrat';
	color:#25A105;
}

.card__info{
	font-family: 'Montserrat';
	width: 205px;
}

.card__body button{
	outline: none;

	position: relative;
	right: 19px;
	top: -15px;
	float: right;

	padding-top: 5px;
	font-size: 50px;
	color:white;
	border:none;
	background-color: #F56C6C;
	width: 63px;
	height: 63px;
	border-radius: 50%;
}

.fitback .swiper-container{
	padding-top: 24px;
}



.fitback h2{
	font-size: 36px;
	width: 147px;
	border-bottom:2px solid red;
	margin: 0px auto;
	font-family:'Montserrat';
	font-weight: 400;
}

.name__user{
	display: flex;
	align-items: center;
}

.name__user h2{
	width: auto;
	border-bottom: 2px solid #fff;
	font-family:'Montserrat';
	font-weight: 400;
	font-size: 36px;
	color:white;
	margin-left: 15px;
}

.comment__fitback p{
	font-size: 18px;
	font-family:'Montserrat';
	padding-top: 9px;
	width: 496px;
	color:white;
}

.comment__wrapper{
	padding:15px 47px;
}

.comment.swiper-slide{
	width: 599px;
	height: 267px;
	background-color: #980000;
	border-radius: 20px;
}


.swiper-container.fitback {
  width: 723px;
  height: 300px;
}

.swiper-button-prev:after,
.swiper-button-next:after{
	color:transparent;
}

.swiper-button-prev,
.swiper-button-next{
	outline: none;
	cursor: pointer;
}

.swiper-button-prev{
	padding-left: 200px;
}

.swiper-button-next{
	padding-right: 200px;
}



.fitback .swiper-pagination-bullet{
	opacity: 1;
	width: 20px;
	height: 20px;
	background: #000;
}

.fitback .swiper-pagination-bullet .swiper-pagination-fraction{
	top: 1000px;
}

.fitback .swiper-pagination-bullet-active{
	border:3px solid #FF0000;
	background-color: transparent;
}


.footer{
	margin-top: 50px;
	width: 100%;
	height: 300px;
	background: #000;
}

.footer__title{
	text-align: center;
	padding-top: 20px;

	font-weight: bold;
	font-size: 24px;
	font-family:'Montserrat';
	color: white;
}


.footer__tel p{
	padding-top: 10px;
	text-align: center;

	font-family:'Montserrat';
	font-size: 18px;
	color:white;
}

.footer__tel a{
	text-decoration: none;
	color:white;
}

.footer__tel a:hover{
	color: red;
	border-bottom: 1px solid red;
}

.footer__social-network h2{
	text-align: center;
	padding-top: 10px;

	font-weight: bold;
	font-size: 24px;
	font-family:'Montserrat';
	color: white;
}

.icon__social-network{
	padding-left: 420px;
}

.footer__social-network i{
	color:white;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 36px;
}

.footer__social-network i:hover{
	color:red;
}

.footer__address{
	padding-top: 15px;
	padding-left: 350px;
}

.footer__address a{
	text-decoration: none;


	font-size: 18px;
	font-family:'Montserrat';
	color:white;
}

.footer__address a:hover{
	color: red;
	border-bottom: 1px solid red;
}



